aiofiles==0.8.0
ajsonrpc==1.2.0
anyio==3.5.0
asgiref==3.5.0
bottle==0.12.19
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cryptography==36.0.2
h11==0.13.0
hexdump==3.3
idna==3.3
ifaddr==0.1.7
marshmallow==3.15.0
packaging==21.3
platformio==5.2.5
pycparser==2.21
pyelftools==0.28
pyOpenSSL==22.0.0
pyparsing==3.0.8
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyserial==3.5
requests==2.27.1
semantic-version==2.9.0
sniffio==1.2.0
starlette==0.18.0
tabulate==0.8.9
urllib3==1.26.9
uvicorn==0.17.6
wsproto==1.0.0
zeroconf==0.38.4
